/* Font Definition */
@font-face {
    font-family: 'SilveradoLight';
    src: url('fonts/silveradolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Universal Reset & Box-Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'SilveradoLight', sans-serif;
    background-color: #000000;
    padding: 15px;
}

/* Container Styles */
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #292828;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
header {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #beac64;
}

h2 {
    font-size: 2.5rem;
    color: #d14941;
    text-align: center;
    padding-bottom: 20px;
}

p {
    color: #696969;
    font-size: 1rem;
}

/* Form Styles */
form {
    margin-top: 20px;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
    color: rgb(163, 163, 163);
}

.form-group svg {
    margin-right: 0.15rem;
    margin-bottom: -0.25rem;
}

/* Label Styles */
label {
    display: block;
    font-weight: bold;
}

/* Input and Select Styles */
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* Button Styles */
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.submit-btn svg {
    transform: scale(1.2);
    margin-right: 5px;
    padding-top: 3px;
}

/* Arc Survivor Checkbox */
#arcSurvivor {
    position: absolute;
    width: 5rem;
    transform: scale(1.5);
}

/* Graveyard List Styles */
#graveyardList {
    margin-top: 30px;
}

#graveyardList ul {
    list-style: none;
}

#graveyardList li {
    color: #d14941;
    background-color: #181818;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #3b3b3b;
    position: relative;
    user-select: none;
    line-height: 1;
}

#graveyardList li .delete-btn {
    color: #beac64;
    background-color: #181818;
    border: 0px solid #3b3b3b;
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}

/* Style for the printed values */
.value {
    color: #beac64;  /* Change to your desired color */
    font-weight: bold; /* Optional: makes the values bold */
}

/* Message Display Styles */
#message {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: lightgreen;
}

/* Footer Styles */
#disclaimer {
    margin-top: 2.5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: #aaa;
    padding: 10px;
    line-height: 1;
}
